{% extends 'base/main.html' %}
{% block content %}

    <div class="header-bar">
        <div>
            <h1> Hello {{ request.user|title }}</h1>
        </div>

        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>


<body>


<a href="{% url 'task-create' %}">+</a>
{% for task in tasks %}
    <div class="task-wrapper">
    {% if task.complete %}
        <div class="task-title">
        <div class="task-complete-icon">
            <i><s><a href="{% url 'task' task.id %}">
                {{ task }}
            </a></s></i>
        </div>
    {% else %}
        <div class="task-title">
            <div class="task-incomplete-icon">
                <a href="{% url 'task' task.id %}">
                    {{ task }}
                </a>
            </div>
    {% endif %}
    </div>

    <div>
        <a class="update-link" href="{% url 'task-update' task.id %}">&#x270E;</a>
        <a class="delete-link" href="{% url 'task-delete' task.id %}">&#x2613;</a>
    </div>
</div>
{% empty %}
    <h3>no tasks added yet</h3>
{% endfor %}

<div class="task-items-wrapper">

</div>
</body>

{% endblock content %}